::host {
    background-color: red;
}
.game-container {
    background-color: gray;
    position: fixed;
    width: 80%;
    height: 70%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    &__play {
        position: relative;
        background-color: purple;
        height: 80%;
    }
    &__buttons {
        background-color: blue;
        height: 20%;
    }
}