.buttons-container {
    display: grid;
	grid-template-columns: 40% 60%;
    align-items: center;
    height: 100%;
    &__btn {
        display: flex;
        justify-content: center;
        transition: .3s transform linear;
        outline: 0;
        -moz-outline-style: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: 0;
        &.rotated {
            transform: rotate(360deg) scale(.75);
        }
        & button {
            color: #ffffff;
            background-color: green;
            width: 100px;
            height: 100px;
            font-size: 18px;
            font-weight: bold;
            border: 3px solid darkgreen;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 5px darkgreen;
            transition: .5s all linear;
            outline: 0;
            -moz-outline-style: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline: 0;
            &:hover {
                background-color: darkgreen;
            }
            &[disabled] {
                opacity: .25;
                cursor: initial;
                &:hover {
                    background-color: green;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .buttons-container {
        grid-template-columns: 40% 20% 20% 20%;
    }
}