.reel-set-container {
    display: grid;
    grid-column-gap: .25em;
    position: absolute;
    // background-image: linear-gradient(white, lightgray);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    &__reel {
        position: relative;
        overflow: hidden;
    }
}