img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(.7);
    transition: .2s all linear;
    &.win {
        filter: drop-shadow(0px 0px 5px darkgreen);
        transform: scale(1) rotate(360deg);
    }
}

.reel-container {
    position: absolute;
    display: grid;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -6%);
    background-image: linear-gradient(to right, lightgray , #ffffff, lightgray);
    &__symbol {
        position: relative;
        display: grid;
        align-items: center;
        justify-items: center;
    }
}